.search-house1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-image: linear-gradient(160deg, #c96305 0%, #edb738 50%, #f4d58b 100%);
    height: 100px;
}
